@layer base {

  body {
    color: #212121;

    .personal-page-green-bg {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75%;
        background-color: #66ff69;
        z-index: 0;
      }
    }
  }
}